<br>

<div class="container">
<div class="row">
  <label for="fname" class="col-25 basic-padding">Msg</label>
  <input type="text" id="mytxt" name="mytxt" class="input-textbox col-50">
  <button type="button" id="newmsg" class="col-25 basic-padding">submit</button>
</div>
</div>
<br>

<div>
  <h4 class="text-center">Chat history</h4>
  <div id="history"></div>
</div>
